In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://de.wikipedia.org/wiki/Liste_der_Bezirke_und_Stadtteile_Hamburgs"
html = requests.get(url).text
soup = BeautifulSoup(html, "html.parser")

# pick the first wikitable on the page
table = soup.select_one("table.wikitable")

if table is None:
    print("table not found")
else:
    rows = []
    for tr in table.find_all("tr"):
        cells = [c.get_text(strip=True) for c in tr.find_all(["th","td"])]
        rows.append(cells)

    df = pd.DataFrame(rows[1:], columns=rows[0])
    print(df)

table not found

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://de.wikipedia.org/wiki/Liste_der_Bezirke_und_Stadtteile_Hamburgs"

headers = {
    "User-Agent": "Mozilla/5.0"
}

html = requests.get(url, headers=headers).text
soup = BeautifulSoup(html, "html.parser")

# pick the table that contains the Bezirke list
tables = soup.find_all("table")

# usually the first large wikitable
table = None
for t in tables:
    if "wikitable" in t.get("class", []):
        table = t
        break

rows = []
for tr in table.find_all("tr"):
    cells = [c.get_text(strip=True) for c in tr.find_all(["th", "td"])]
    rows.append(cells)

df = pd.DataFrame(rows[1:], columns=rows[0])
print(df)

             Bezirk Fläche(km²)  Einwohner Bevölkerungsdichte(Einwohner/km²)  \
0  Hamburg-Mitte(1)      142,17    314.797                              2214
1         Altona(2)      077,85    281.136                              3611
2     Eimsbüttel(3)      049,77    277.656                              5579
3   Hamburg-Nord(4)      057,73    331.291                              5739
4       Wandsbek(5)      147,43    456.412                              3096
5      Bergedorf(6)      154,62    134.263                              0868
6        Harburg(7)      125,02    178.341                              1426
7     Stadt Hamburg      754,59  1.973.896                              2616

  Stadtteile Karte
0         19
1         14
2         09
3         13
4         18
5         14
6         17
7        104

In [5]:
import sys, os
sys.path.append(os.path.dirname(os.getcwd()))
from db_connection import start_engine

engine = start_engine()

In [6]:
import pandas as pd

In [7]:
df

,Bezirk,Fläche(km²),Einwohner,Bevölkerungsdichte(Einwohner/km²),Stadtteile,Karte
0,Hamburg-Mitte(1),"142,17",314.797,2214,19,
1,Altona(2),"077,85",281.136,3611,14,
2,Eimsbüttel(3),"049,77",277.656,5579,09,
3,Hamburg-Nord(4),"057,73",331.291,5739,13,
4,Wandsbek(5),"147,43",456.412,3096,18,
5,Bergedorf(6),"154,62",134.263,0868,14,
6,Harburg(7),"125,02",178.341,1426,17,
7,Stadt Hamburg,"754,59",1.973.896,2616,104,

In [8]:
df.to_sql(name = "population_data", con = engine, # Push to DB
                           if_exists= "replace", index = False)

8