In [1]:
import sys, os
sys.path.append(os.path.dirname(os.getcwd()))
from db_connection import start_engine

engine = start_engine()

In [2]:
import pandas as pd

In [7]:
bezirke=pd.read_csv("app_bezirke_EPSG_4326.csv",delimiter=";")

In [8]:
bezirke

,_fid,bezirk,bezirk_name,geom,coordinate_reference_system
0,APP_BEZIRKE_1688,1,Hamburg-Mitte,"MULTIPOLYGON (((8.500408 53.912672,8.499955 53...",NaN
1,"7257 53.564855,10.057350 53.564880,10.057569 5...",EPSG:4326,NaN,NaN,NaN
2,APP_BEZIRKE_1689,2,Altona,"MULTIPOLYGON (((9.860031 53.544764,9.857175 53...",NaN
3,"1 53.546303,9.958595 53.546317,9.958710 53.546...",EPSG:4326,NaN,NaN,NaN
4,APP_BEZIRKE_1690,3,Eimsbüttel,"MULTIPOLYGON (((9.945030 53.571678,9.945004 53...",NaN
5,"1468 53.559134,9.991463 53.559132,9.991463 53....",EPSG:4326,NaN,NaN,NaN
6,APP_BEZIRKE_1691,4,Hamburg-Nord,"MULTIPOLYGON (((10.014322 53.562162,10.014198 ...",NaN
7,"0.054624 53.601699,10.054728 53.601663,10.0547...",EPSG:4326,NaN,NaN,NaN
8,APP_BEZIRKE_1692,5,Wandsbek,"MULTIPOLYGON (((10.169043 53.668249,10.168986 ...",NaN
9,"10.047539 53.603857,10.047323 53.603984,10.047...",NaN,NaN,NaN,NaN
10,"10.191740 53.722684,10.191706 53.722640,10.190...",NaN,NaN,NaN,NaN
11,"10.197258 53.648817,10.197235 53.648800,10.197...",EPSG:4326,NaN,NaN,NaN
12,APP_BEZIRKE_1693,6,Bergedorf,"MULTIPOLYGON (((10.206563 53.397594,10.205583 ...",NaN
13,"59578 53.477083,10.259607 53.477072,10.259776 ...",EPSG:4326,NaN,NaN,NaN
14,APP_BEZIRKE_1694,7,Harburg,"MULTIPOLYGON (((9.975740 53.419386,9.975393 53...",NaN
15,"0.048716 53.466261,10.048973 53.466005,10.0495...",EPSG:4326,NaN,NaN,NaN

In [9]:
bezirke.to_sql(name = "district", con = engine, # Push to DB
                           if_exists= "replace", index = False)

16